nz-steps {
  float: left;
}

.ant-steps {
  display: block;
  float: left;
  width: 20%;
}

.d-flex-center-product {
  float: left;
  width: 80%;
  padding-left: 9%;
}

form.product-form {
  width: 100%;
}

.steps-action {
  float: left;
  width: 100%;
}

nz-step {
  padding-bottom: 1rem;
}

.steps-content {
  float: left;
  width: 100%;
}

.errors {
  float: left;
  width: 100%;
  color: tomato;
  font-weight: 500;
}

.ant-row {
    float: left;
    width: 100%;
}

a.back-login {
    float: left;
    margin-top: 1rem;
    font-weight: 500;
}
.ant-layout-content {
	-webkit-box-flex: 1;
	flex: auto;
	min-height: 0;

}
.layout {
	height: 100vh;
background: #3A7DC2;
}

