<nz-row [nzGutter]="16">
    <nz-col [nzSpan]="6">
        <nz-statistic [nzValue]="100 | number" [nzTitle]="'Total Categories'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-statistic [nzValue]="100 | number" [nzTitle]="'Total Sub Categories'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-statistic [nzValue]="100 | number" [nzTitle]="'Total Brands'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-statistic [nzValue]="100 | number" [nzTitle]="'Total Products'"></nz-statistic>
    </nz-col>
</nz-row>

<nz-row [nzGutter]="16">
    <nz-col [nzSpan]="6">
        <nz-statistic [nzValue]="100 | number" [nzTitle]="'Total Users'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-statistic [nzValue]="100 | number" [nzTitle]="'Total Orders'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-statistic [nzValue]="100 | number" [nzTitle]="'Total Tickets'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-statistic [nzValue]="100 | number" [nzTitle]="'Total Vendors'"></nz-statistic>
    </nz-col>
</nz-row>