<div class="left__side__form">
    <span class="logo-name">Login to your account</span>
    <div class="d-flex-center d-flex-center-mt4">
        <form nz-form [formGroup]="loginForm" class="login-form">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="email" id="email" />
                </nz-form-control>
                <app-field-error [submitted]="submitted" [server_message]="server_message.email" [control]="loginForm.get('email')"></app-field-error>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired nzFor="password">Password</nz-form-label>
                <nz-form-control>
                    <input nz-input type="password" id="password" formControlName="password" />
                </nz-form-control>
                <app-field-error [submitted]="submitted" [server_message]="server_message.password" [control]="loginForm.get('password')"></app-field-error>
            </nz-form-item>
            <nz-form-item nz-row class="register-area">
                <nz-form-control>
                    <a class="login-form-forgot" class="login-form-forgot" routerLink="/auth/forget">Forgot password</a>
                    <button nz-button nzType="primary" class="login-form-button" [disabled]="!loginForm.valid" (click)="login()">Login</button>
                    <!-- <a routerLink="/auth/register">register now!</a>
                    <br>
                    <a routerLink="/auth/user/register">register now as customer!</a> -->
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>
<div class="right__side__contents">
    <h3>Contrary to popular belief, Lorem Ipsum is not simply random text.</h3>
    <strong>What is Lorem Ipsum?</strong>
    <div class="icon__test">
        <ul>
            <li>
                <span class="icons_09">
                    <i class="fa fa-file"></i>
                </span>
                <span class="cont">GSTIN*</span>
            </li>
            <li>
                <span class="icons_09">
                    <i class="fa fa-file"></i>
                </span>
                <span class="cont">Bank Account</span>
            </li>
            <li>
                <span class="icons_09">
                    <i class="fa fa-file"></i>
                </span>
                <span class="cont">Products to sell</span>
            </li>
        </ul>
    </div>
    <div class="foorteee">
        <p>*GSTIN is not required for sellers who only sell books</p>
    </div>
    <div class="s__09uygbd">
        <strong>What is Lorem Ipsum?</strong>
        <p>here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
        <p>, or randomised words which don't look even slightly believable. If you are going to use a passage</p>
    </div>
</div>
<style>
    .logo-name {
        padding-left: 24px;
    }
    
    @media screen and (min-width:320px) and (max-width:767px) {
        .left__side__form {
            padding: 15px;
        }
    }
</style>