@import "~ng-zorro-antd/style/index.min.css";
@import "~ng-zorro-antd/layout/style/index.min.css";
@import "~ng-zorro-antd/menu/style/index.min.css";
@import "~ng-zorro-antd/form/style/index.min.css";
@import "~ng-zorro-antd/modal/style/index.min.css";
@import "~ng-zorro-antd/input/style/index.min.css";
@import "~ng-zorro-antd/select/style/index.min.css";
@import "~ng-zorro-antd/radio/style/index.min.css";
@import "~ng-zorro-antd/switch/style/index.min.css";
@import "~ng-zorro-antd/button/style/index.min.css";
@import "~ng-zorro-antd/table/style/index.min.css";
@import "~ng-zorro-antd/steps/style/index.min.css";
@import "~ng-zorro-antd/statistic/style/index.min.css";
@import "~ng-zorro-antd/grid/style/index.min.css";
@import "~ng-zorro-antd/message/style/index.min.css";
@import "~ng-zorro-antd/popconfirm/style/index.min.css";
@import "~ng-zorro-antd/date-picker/style/index.min.css";

.form-group {
  margin-bottom: 1rem;
  float: left;
  width: 100%;
}
.app-login {
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar-header.text-center {
  position: relative;
}
.login-admin {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 11px;
  float: left;
}
span.head-main {
  font-size: 1.6rem;
  font-weight: 600;
  user-select: none;
}
.d-flex-center {
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#wrapper {
  background: #fff;
  float: left;
  width: 100%;
}
[nz-form] {
  max-width: 600px;
  width: 25%;
}
.ant-modal-body [nz-form] {
  max-width: 600px;
  width: 100%;
}
.phone-select {
  width: 70px;
}
.register-are {
  margin-bottom: 8px;
}
.ant-form-item-label {
  text-align: left;
  line-height: unset;
}
.ant-form-item-required::before {
  float: right;
}
.ant-col {
  margin-bottom: 4px;
}
.ant-form-item-required::after {
  content: "";
}
.ant-input {
  height: 40px;
  -webkit-transition: none;
  transition: none;
  border: 1.5px solid lightgray;
}
.ant-input:focus {
  box-shadow: none;
}
.has-error .ant-calendar-picker-open .ant-calendar-picker-input,
.has-error .ant-input-affix-wrapper .ant-input:focus,
.has-error .ant-input:focus,
.has-error .ant-select-focused .ant-select-selection,
.has-error .ant-select-open .ant-select-selection {
  box-shadow: none;
  border-right-width: 1.5px !important;
  outline: 0;
}
.ant-form-explain,
.ant-form-extra {
  font-weight: 500;
  margin-top: 2px;
}
label > .anticon {
  margin-left: 3px;
  margin-right: 3px;
}
.ant-message-notice-content {
  font-weight: 600;
}
.nz-table .search-box {
  padding: 8px;
}
.nz-table .search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}
.nz-table .search-box button {
  width: 90px;
}
.nz-table .search-button {
  margin-right: 8px;
}
.nz-table {
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
}
.nz-table .ant-table-wrapper {
  float: left;
  width: 100%;
}
.layout {
  height: 100vh;
  background: #fff;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 7px 5px;
  float: left;
}
nz-header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
[nz-menu] {
  line-height: 41px;
  background: #2196f3;
  color: #fff;
  height: 43px;
  border: 0;
}
nz-content {
  padding: 0 50px;
  margin-top: 64px;
}
nz-breadcrumb {
  margin: 16px 0;
}
.inner-content {
  background: #fff;
  padding: 11px 10px;
  min-height: 380px;
  border: 1px solid lightgray;
  float: left;
  width: 100%;
}
nz-footer {
  text-align: center;
}
.ant-select-selection {
  border-top-width: 0;
  border: 1.5px solid #d9d9d9;
  height: 40px;
  font-size: 14px;
  line-height: 1.5;
  padding-top: 2px;
}
.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  color: #fff;
  background: #2196f3;
  height: 43px;
}
.ant-layout-header {
  background: #2196f3;
  height: 43px;
}
.login-form-forgot {
  float: right;
}
form.login-form {
  padding: 21px;
  border: 1px solid #d3d3d3;
  width: 26%!important;
  background: #fff;
}
.login-form-button {
  width: 100%;
}
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-submenu-selected,
.ant-menu-horizontal > .ant-menu-submenu:hover {
  color: #fff;
  border-bottom: 0;
}
.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu {
  border-bottom: 0;
}
.ant-menu-submenu-title span {
  color: #fff !important;
  float: left;
  margin-right: 10px;
}
.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  color: #fff !important;
}
.ant-table-thead > tr > th {
  border-bottom: 1px solid lightgray;
}
.ant-breadcrumb {
  margin-bottom: 1rem;
}
nz-breadcrumb-item:focus {
  outline: 0;
}
nz-breadcrumb-item {
  cursor: pointer;
}
span.ant-breadcrumb-link {
  font-weight: 500;
}
.ant-table table {
  border: 1px solid lightgray;
}
// .ant-table-body table {
//   border-top: 0;
// }
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 1px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #9e9e9e;
  width: 4px;
}
::selection {
  color: #fff;
  background: #1890ff;
}
span.logo-name {
  float: left;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
  font-weight: 500;
}
.buttons a {
  float: right;
  margin: 1rem 0.8rem;
  background: #1890ff;
  color: #fff;
  padding: 5px 20px;
  border-radius: 3px;
}
td.capitalize {
  text-transform: capitalize;
}
.ant-modal-footer button + button {
  padding-bottom: 2px;
}
span.heading-uppper-table {
  float: left;
  margin: 1rem 0rem;
  background: transparent;
  color: black;
  padding: 5px 0;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: 600;
}
nz-row.ant-row {
  margin: 3rem 0;
}
nz-row.ant-row:first-child {
  margin-top: 1rem;
}
.ant-statistic-title {
  font-weight: 700;
}
.ant-table-tbody > tr:nth-child(odd) td {
  background: #dedede !important;
}
td.p-td-search {
  padding: 10px;
}
td.p-td-search input {
  border: 1px solid lightgray;
  float: left;
  width: 90%;
  padding: 2px 8px;
}
.ant-form-item-label {
  float: left;
  width: 100%;
}
.ant-form-item label {
  float: left;
}
.buttons {
  float: left;
  width: 100%;
}
.ant-input:hover,
.ant-input:focus {
  border-right-width: 2px !important;
}
.footer-div-modal > button {
  margin-right: 26px;
}
.ant-select-focused .ant-select-selection,
.ant-select-selection:active,
.ant-select-selection:focus,
.ant-select-open .ant-select-selection {
  border-right-width: 2px !important;
  box-shadow: none;
}
.ant-select-selection:hover {
  border-right-width: 2px !important;
  box-shadow: none;
}
.div-modal {
  float: left;
  width: 100%;
  margin: 2rem 0;
}
.ant-table-tbody > tr > td {
  border-bottom: 1px solid #fff;
  background: #fff;
}
.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after,
.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: #d3d3d3;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after,
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: #d3d3d3;
}
.uploaded-images {
  float: left;
  width: 100%;
}
.uploaded-images ul {
  float: left;
  width: 100%;
  list-style: none;
  padding: 0;
}
.uploaded-images li {
  float: left;
  width: 100%;
  height: 50px;
  margin-bottom: 1rem;
}
.uploaded-images li img {
  width: 50px;
  height: 50px;
  float: left;
}
.uploaded-images li .image-name {
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  margin-left: 9px;
  margin-top: 12px;
}
.uploaded-images li .remove {
  float: left;
  margin-top: 11px;
  margin-left: 12px;
  cursor: pointer;
}
.ant-form-item-children input[type="file"] {
  float: left;
  opacity: 0;
  position: absolute;
  left: 0;
  top: -5px;
  height: 30px;
  width: 114px;
  z-index: 99;
  cursor: pointer;
}
img.td-image {
  float: left;
  width: 50px;
  height: 50px;
}
td ul {
  list-style: none;
  padding: 0;
}
td ul li {
  float: left;
  margin: 2px;
  background: #1890ff;
  padding: 1px 10px;
  color: #fff;
  border-radius: 3px;
}
td ul li a {
  color: #fff;
}
td ul li a:hover {
  color: #fff;
}
li.tomato {
  background: tomato;
}
li.purple {
  background: purple;
}
li.black {
  background: black;
}
li.gray {
  background: gray;
}
li.orange {
  background: orange;
}
.ant-checkbox-inner {
  -webkit-transition: none;
  transition: none;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  -webkit-transition: none;
  transition: none;
}

a.download-sample {
  margin-left: 1rem;
  cursor: pointer;
}

.ant-checkbox-inner::after {
  -webkit-transition: none;
  transition: none;
}

.ant-layout-footer {
  background: #fff;
}

.steps-action > button {
  margin-right: 2rem;
}

.ant-modal-body {
  padding-top: 16px;
}

.ant-calendar-picker {
  width: 100% !important;
}

.ant-select-selection.ant-select-selection--multiple {
    height: auto;
    padding-bottom: 5px;
}
.layout {
	height: 100vh;
	background:rgba(0, 0, 0, 0) linear-gradient(rgb(50, 120, 191) 0%, rgba(50, 120, 191, 0.8) 100%) repeat scroll 0% 0%;
}
span.logo-name {
	float: left;
	font-size: 1.5rem;
	text-align: left;
	width: 100%;
	margin-bottom: 2rem;
	font-weight: 500;
}
.d-flex-center {
	float: left;
	width: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: left;
	-webkit-box-align: left;
	align-items: center;
}
.left__side__form {
	float: left;
	width: 48%;
}

.right__side__contents {
	float: left;
	width: 52%;
}

.left__side__form {
	float: left;
	width: 34%;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.2) 0px 6px 10px 0px, rgba(0, 0, 0, 0.2) 0px 1px 18px 0px;
	/* margin: 29px; */
	padding: 28px;
	margin-left: 6%;
  margin-right: 7%;
  border-radius: 5px;
}

.right__side__contents {
	float: left;
	width: 52%;
	padding-right: 139px;
}
[nz-form] {
	max-width: 600px;
	width: 100%;
}
.right__side__contents h3 {
	color: #fff;
	font-size: 30px;
	font-weight: 400;
}
.right__side__contents strong {
	color: #fff;
	font-size: 17px;
	margin-top: 11px;
	display: inline-block;
}
.icon__test ul li {
	list-style: none;
}
.icon__test ul {
	padding-left: 3px;
}
.icon__test ul li {
	list-style: none;
	width: 25%;
	display: inline-block;
	text-align: center;
	border-right: 1px solid #ffffff69;
	height: 75px;
}
.icons_09 {
	width: 100%;
	display: inline-block;
	font-size: 47px;
	color: #fff;
	padding-top: 10px;
}
.icon__test ul li {
	list-style: none;
	width: 25%;
	display: inline-block;
	text-align: center;
	border-right: 1px solid #ffffff69;
	height: 135px;
	/* padding-top: 10px; */
	margin-top: 30px;
}
.cont {
	color: #fff;
	font-size: 14px;
}
.icon__test ul li {
	list-style: none;
	width: 25%;
	display: inline-block;
	text-align: center;
	border-right: 2px solid #ffffff69;
	height: 104px;
	/* padding-top: 10px; */
	margin-top: 30px;
}

.icon__test ul li:last-child{
  border-right: none;
}
.s__09uygbd {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.s__09uygbd strong {
	margin-bottom: 19px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.s__09uygbd p {
	color: #fff;
}
.s__09uygbd {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding-bottom: 38px;
}
.foorteee p {
	color: #fff;
	margin-top: 29px;
	padding-bottom: 15px;
}

form.login-form {
	padding: 21px;
	border: none;
	width: 100% !important;
	background: #fff;
}

@media screen and (min-width:320px) and (max-width:767px) {
  .left__side__form {
    float: left;
    width: 100%;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.2) 0px 6px 10px 0px, rgba(0, 0, 0, 0.2) 0px 1px 18px 0px;
    /* margin: 29px; */
    padding: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 4px;
  }

  .layout {
    height: auto;
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, from(#3278bf), to(rgba(50, 120, 191, 0.8))) repeat scroll 0% 0%;
    background: rgba(0, 0, 0, 0) linear-gradient(#3278bf 0%, rgba(50, 120, 191, 0.8) 100%) repeat scroll 0% 0%;
  }
  .right__side__contents {
    float: left;
    width: 100%;
    padding-right: 0px;
  }
  nz-content {
    padding: 0 20px;
    margin-top: 64px;
  }
  .right__side__contents h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 22px;
  }
  .icon__test ul li {
    list-style: none;
    width: 33%;
    display: inline-block;
    text-align: center;
    border-right: 2px solid #ffffff69;
    height: 104px;
    /* padding-top: 10px; */
    margin-top: 30px;
  }
  .icons_09 {
    width: 100%;
    display: inline-block;
    font-size: 43px;
    color: #fff;
    padding-top: 10px;
  }
  span.logo-name {
    float: left;
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 500;
    padding-top: 17px;
  }

  .left__side__form {
    padding: 19px!important;
  }
}